html,
input,
textarea {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  background: #eee;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

pre {
  padding: 10px;
  background-color: #eee;
  white-space: pre-wrap;
}

:not(pre) > code {
  font-family: monospace;
  background-color: #eee;
  padding: 3px;
}

img {
  max-width: 100%;
  max-height: 20em;
}

blockquote {
  border-left: 2px solid #ddd;
  margin-left: 0;
  margin-right: 0;
  padding-left: 10px;
  color: #aaa;
  font-style: italic;
}

blockquote[dir='rtl'] {
  border-left: none;
  padding-left: 0;
  padding-right: 10px;
  border-right: 2px solid #ddd;
}

table {
  border-collapse: collapse;
}

td {
  padding: 10px;
  border: 2px solid #ddd;
}

input {
  box-sizing: border-box;
  font-size: 0.85em;
  width: 100%;
  padding: 0.5em;
  border: 2px solid #ddd;
  background: #fafafa;
}

input:focus {
  outline: 0;
  border-color: blue;
}

[data-slate-editor] > * + * {
  margin-top: 1em;
}

.remote_caret: {
  position: relative;
  background:transparent,
}

.remote_caret_left:before{
  position: absolute;
  z-index:5;
  content: ' ';
  width: 5px;
  height:5px; 
  border-left-width:5px;
  border-left-style: solid;
  left: -2px;
  top:0px;
  border-color: inherit; 
}

.remote_caret:before{
  position: absolute;
  z-index:5;
  content: ' ';
  width: 5px;
  height:5px; 
  right: -5px;
  border-right-width:5px;
  border-right-style: solid;
  top:0px;
  border-color: inherit; 
}


 .codox-session-info-list {
  float: right;
  display: inline-block;
}
@media screen and (max-width: 1024px) {
   .codox-session-info-list {
    padding-left: 0;
  }
}
@media screen and (min-width: 1025px) {
   .codox-session-info-list {
    padding-left: 0;
  }
}
 .codox-session-info-list .codox-session-info-avatar {
  position: static;
  float: right;
  top: 2px;
  transition: top ease-out 200ms;
}
 .codox-avatar {
  z-index: 10000;
  position: relative;
  box-sizing: content-box;
  border: none;
  display: inline-block;
}
 .codox-avatar .codox-avatar-initials {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  display: inline-block;
  box-sizing: content-box;
  background: #FFFFFF;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
   .codox-avatar .codox-avatar-initials {
    width: 28px;
    height: 28px;
    line-height: 28px;
    font-size: 11px;
  }
}
@media screen and (min-width: 1025px) {
   .codox-avatar .codox-avatar-initials {
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 13px;
  }
}
 .codox-avatar .codox-avatar-initials.clickable {
  cursor: pointer;
}
 .codox-avatar .codox-avatar-initials:not(.clicked) {
  color: #FFF;
}
 .codox-avatar .codox-avatar-initials.clicked {
  background: #FFF;
}
 .codox-avatar .codox-avatar-initials.disconnected {
  background: #999999;
}
 .codox-avatar .codox-session-tooltip {
  transition: opacity 300ms ease 100ms;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid;
  border-radius: 3px;
}
@media screen and (max-width: 1024px) {
   .codox-avatar .codox-session-tooltip {
    width: 100px;
    padding: 4px 1px;
    font-size: 10px;
    line-height: 14px;
  }
}
@media screen and (min-width: 1025px) {
   .codox-avatar .codox-session-tooltip {
    width: 120px;
    padding: 6px 3px;
    font-size: 12px;
    line-height: 16px;
  }
}
 .codox-avatar .codox-session-tooltip.disconnected {
  background: #999999;
  border-left-color: #999999;
}
 .codox-avatar .codox-session-tooltip .codox-session-tooltip-contact-name {
  display: block;
  overflow: hidden;
  margin-bottom: 3px;
  font-weight: 600;
  background-color: inherit;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 .codox-avatar .codox-session-tooltip .codox-session-tooltip-contact-status {
  display: block;
  overflow: hidden;
  font-weight: 300;
  color: inherit;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 .codox-avatar .codox-session-tooltip:after {
  content: '';
  position: absolute;
  top: -5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-bottom-color: inherit;
  width: 0;
  height: 0;
}
 .codox-avatar:hover .codox-session-tooltip {
  visibility: visible;
  z-index: 10;
  margin-left: -150%;
  margin-top: 10px;
  opacity: 1;
  background-color: #ffffff;
}
 .codox-avatar .codox-avatar-img {
  max-width: 100%;
  border-radius: 50%;
}
 .codox-avatar [class*="codox-session-status"] {
  position: absolute;
  right: 0px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #fff;
  border-radius: 50%;
}
@media screen and (max-width: 1024px) {
   .codox-avatar [class*="codox-session-status"] {
    height: 10px;
    width: 10px;
  }
}
@media screen and (min-width: 1025px) {
   .codox-avatar [class*="codox-session-status"] {
    height: 12px;
    width: 12px;
  }
}
 .codox-avatar .codox-session-status-joined {
  background: #1EC01E;
}
/*
.remote_caret:hover:before{
  position: absolute;
  content: attr(data-name);
  z-index:10;
  border-radius: 2px;
  padding: 2px 8px;
  left: -2px;
  top: -18px;
  color: white;
  font-size: 10px;
  background-color: inherit;
  height: 16px;
  width:30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
*/
